.img_container {
    position: relative; 
    height: 580px;
    padding-left: 0;
    background-color: rgb(52, 71, 198);
  }
  
  .img_container_1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 49%;
    height: 275px;
    border: 5px solid rgb(235, 6, 6);
    border-radius: 25px;
  }
  
  .img_container_2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 49%;
    height: 275px;
    border: 5px solid rgb(12, 233, 56);
    border-radius: 25px;
  }
  
  .img_container_3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 49%;
    height: 275px;
    border: 5px solid rgb(227, 242, 8);
    border-radius: 25px;
  }
  
  .img_container_4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 49%;
    height: 275px;
    border: 5px solid rgb(158, 28, 218);
    border-radius: 25px;
  }
