.img_container {
  position: relative; 
  height: 580px;
  padding-left: 0;
  background-color: rgb(255, 255, 255);
}

.img_container_1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 49%;
  height: 280px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  overflow: hidden;
}

.img_container_2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 49%;
  height: 280px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  overflow: hidden;
}

.img_container_3 {
  position: absolute;
  right: 0;
  top: 0;
  width: 49%;
  height: 280px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  overflow: hidden;
}

.img_container_4 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 49%;
  height: 280px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 25px;
  overflow: hidden;
}


