.img_container {
    float: right;
    position: relative; 
    display: flex;
    height: 580px;
    width: 400px;
    margin-left: 10px;
    background-color: rgb(38, 87, 212);
  }
  
.img_container_1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    overflow: hidden;
  }
